
{{> head }}


{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>
                Hola Como estan mi nombre es
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam a minus amet quo architecto, optio nulla rem debitis voluptatibus consequuntur doloremque commodi dolorum aperiam beatae assumenda reiciendis enim animi ipsam.
            </p>
        </div>
        <div class="col-4">
            <img src="\assets\img\venom.png" class="img-thumbnail">
        </div>
    </div>
{{> footer }}